body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 244, 244);
    position: relative;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 123, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

nav svg {
    width: 50px;
    height: auto;
    color: white;
    position: absolute;
    left: 10px;
}

nav h1 {
    color: white;
    flex: 1;
    flex-basis: 50%;
    width: 35px;
    text-align: center;
    display: none;
}

nav button {
    background-color: white;
    color: rgb(0, 123, 255);
    width: 80px;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
}

nav button:hover {
    background-color: rgb(0, 86, 179);
    color: white;
}
#log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #f0f0f0;
}
#log form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#log input[type="email"],
#log input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.error-message {
    color: red;
    margin-top: 10px;
}
#log button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#log button:hover {
    background-color: #0056b3;
}
#log label a {
    color: #007bff;
    text-decoration: none;
}
#log label a:hover {
    text-decoration: underline;
}
#con {
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: visible;
}
#left, #right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#right {
    flex-direction: column-reverse;
}
#status {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: sticky;
    top: 10px;
    z-index: 1000;
}
#status-content {
    font-size: 18px;
    font-weight: bold;
}
#status-content.success {
    color: green;
}
#status-content.error {
    color: red;
}
#status-content.info {
    color: blue;
}
#transactions {
    flex: 3;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1, h2 {
    color: #333;
    margin-bottom: 20px;
}
button {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid rgb(0, 86, 179);
    background-color: rgb(0, 123, 255);
    color: white;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}
button:hover {
    background-color: rgb(0, 86, 179);
    cursor: pointer;
}
.tran-button {
    margin-top: 20px;
}
.transaction-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.transaction-input input {
    height: 28px;
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(0, 86, 179);
}
#transactions-table {
    width: 100%;
    border-collapse: collapse;
}
#transactions-table th, #transactions-table td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}
#transactions-table th {
    background-color: coral;
    color: white;
}

@media (min-width: 600px) {
    nav h1{
        display: block;
    }
    #log form {
        padding: 30px;
        width: 400px;
        height: 300px;
    }
    #con {
        flex-direction: row;
    }
    #left {
        width: 30%;
    }
    #right {
        width: 70%;
        padding-left: 20px;
    }
    #status {
        position: relative;
    }
    .transaction-input {
        flex-direction: row;
        height: 50px;
        gap: 0px;
        border-radius: 8px;
    }
    .transaction-input input {
        border: 1px solid rgb(208, 213, 221);
        border-radius: 8px 0px 0px 8px;
        flex: 1;
    }
    .transaction-input button {
        border-radius: 0px 8px 8px 0px;
        flex: 0 0 30%;
    }
}